
html, body {
    margin: 0;
	padding: 0;
    background-color: #65bfbf;
	font-family: Arial, Helvetica, sans-serif;
}
.box {
	border: 2px dashed white;
	height: 345px;
	padding-top: 10px;
}
p {
    color: #35746e;
    text-align: center;
    font-weight: bold;
}

